body {
  background-color: #1a3c3f;
  color: #aebdbf;
}

a {
  color: #cc7728;
}

.body-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0px;
}

.content {
  padding-left: 10vh;
  display: flex;
  flex-direction: column;
}

.post-list-item {
  font-size: 0px;
}

.post-list-item-title a {
  font-size: 2rem;
}

.post.post-list-item-title {
  margin: 0px;
  padding: 0px;
}

.post-list-item-metadata {
  font-size: 0.8rem;
  margin: 0px;
  padding: 0px;
}

.post-list-item-metadata p {
  margin: 0px;
}

/* START: sidenav */
.sidenav {
  /* flex-basis: 200px; */
  background-color: #112;
  display: flex;
  flex-direction: column;
}

.sidenav a {
  padding: 8px 8px 8px 25px;
  text-decoration: none;
  font-size: 1.3rem;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav-header a {
  color: #aebdbf;
  padding-left: 10px;
}

/* END: sidenav */
