<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      {{ .Title }}
    </title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />
  </head>
  <body class="body-container">
    {{ partial "side-nav.html" . }}
    {{ block "content" . }}
    {{ end }}
    {{ partial "footer.html" . }}
  </body>
</html>
