<nav class="sidenav">
  <h1 class="sidenav-header"><a href="/">Evan Carlin</a></h1>
  <div class="sidenav-sitemap">
    <a href="/">Blog posts</a>
    <a href="#">Notes</a>
    <a href="#">Quotes</a>
  </div>
  <div class="sidenav-line"></div>
  <div class="sidenav-abouts">
    <a href="/about/this-site">About this site</a>
    <a href="/about/me">About me</a>
    <a href="/resume">Resume</a>
  </div>
</nav>
