{{ define "content" }}
<div class="content">
  <main>
    <h1>Blog posts</h1>
    {{ range first 100 .Data.Pages }}
    <div class="post-list-item">
      <div class="post-list-item-metadata">
        <span class="post-list-item-time">
          Published: <time>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</time>
        </span>
      </div>
      <h3 class="post-list-item-title">
        <a href="{{.Permalink }}">{{ .Title }}</a>
      </h3>
    </div>
    {{ end }}
  </main>
</div>
{{ end }}
